Automoblile Engineering 
1. 7473323 - ARYEETEY, Abdul Majeed Nii Armah
2. 

BSC. CIVIL ENG.
1. DANSO, Magdaline - 1704522
2. ADARKWAH-YIADOM, Emmanuel - 7122823
4. APPIAH-ASIAMAH, Theophilus - 7128323
6. SUALIHU, Ibrahim - 7142723

BSC. ELECTRICAL/ELECTRONIC ENG.
1. ABASS, Mohammed Jalal-Deen Ramadan - 7308523
2. ADU-MPIANI, Edwin Kwaku - 7310823
3. ALORVOR, Jonathan - 7312723
4. APPIAH, Julian - 7315723
5. ASANTE, Nana Kwame - 7316723
